header{
    font-style: oblique;
    font-weight: bold;
}

h1{
    display:flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

body{
    background-color:  rgb(255, 164, 148);
}

main{
    font-style: oblique;
    font-weight: bolder;
}

.allCards{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;  
}

.imgCard{
    max-width: 450px;
    max-height: 450px;
}

p{
    display:flex;
    justify-content: center;
}

footer{
    display:flex;
    justify-content: center;
    font-size: small;
}


